.selected-post {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  .user-select {
    width: 30%;
  }
  .selected-post-id {
    padding-top: 1rem;
    font-size: 1.2rem;
    label {
      font-weight: 500;
    }
  }
}
.post-spinner {
  position: absolute;
  left: 45%;
  top: 45%;
}
