<div class="selected-post">
  <mat-form-field appearance="fill" class="user-select">
    <mat-label>Vyberte uživatele</mat-label>
    <mat-select [value]="userId"
                (selectionChange)="onSelectionChange($event)">
      <mat-option [value]="0">Nikdo</mat-option>
      <mat-option *ngFor="let user of users$ | async"
                  [value]="user.id">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="selected-post-id">
    <label>Id postu</label>
    {{ selectedPostId }}
  </div>
</div>

<ng-container *ngIf="posts$ | async as posts;else waitForPosts">
  <app-users-post *ngFor="let post of posts" [post]="post" [selectedPostId]="selectedPostId" (postClicked)="onPostClicked($event)"></app-users-post>
</ng-container>
<ng-template #waitForPosts>
  <mat-spinner [diameter]="300" class="post-spinner"></mat-spinner>
</ng-template>

